@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --font-10: 0.625rem;
  --font-12: 0.75rem;
  --font-13: 0.813rem;
  --font-14: 0.875rem;
  --font-15: 0.938rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-22: 1.375rem;
  --font-24: 1.5rem;
}
html,
body {
  min-width: 375px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}
header,
nav {
  z-index: 999;
  background-color: #fff;
  position: fixed;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  top: 0;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  top: 60px;
}
.nav-list {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #ededed;
}
.nav-list li {
  display: flex;
  align-items: center;
  line-height: 46px;
  cursor: pointer;
}
.nav-list a {
  width: max-content;
  margin: 0 1rem;
  padding: 0 0.5rem;
  height: 46px;
  line-height: 46px;
  color: #222222;
  text-decoration: none;
  justify-content: center;
  font-size: var(--font-15);
}
h1,
h2 {
  text-align: center;
}
h2 {
  font-size: var(--font-20);
}
.container.home {
  padding-top: 0;
}
.sales-title {
  margin-bottom: 0;
  position: relative;
  bottom: 5px;
  align-items: center;
  font-size: var(--font-22);
  justify-content: center;
}
.sales-title button {
  width: 30px;
  height: 35px;
  background: transparent;
  border: none;
  margin: 0 0.5rem;
  padding: 0;
}
.sales-title button i {
  cursor: pointer;
  font-size: var(--font-24);
  color: #222222;
}
.sales-title button i.disabled {
  color: #b2b2b2;
  cursor: default;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.75rem;
  text-align: center;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
  overflow-y: hidden;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
input:focus {
  outline: none;
}

.logo img {
  width: 165px;
}
#app {
  height: calc(100vh - 100px);
}
#main {
  padding-top: 107px;
  height: auto;
  min-height: calc(100vh - 2rem - 107px - 100px);
}

.router-link-exact-active {
  font-weight: bold;
  position: relative;
}
.router-link-exact-active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 999;
  content: '';
  width: 100%;
  border-bottom: 2px solid #222222;
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter {
  position: absolute;
  right: 20px;
  font-size: var(--font-20);
}
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  position: relative;
  font-size: var(--font-12);
  text-align: center;
  color: #878787;
}
tr {
  border-bottom: 1px solid #ddd;
}
th,
tr,
td {
  min-width: 80px;
}
th,
td {
  height: 40px;
  padding: 1rem 0.7rem;
}
td {
  word-break: break-all;
}
.order-date,
.item-name {
  word-break: keep-all;
}
.btn-angle {
  display: inline;
  position: relative;
  top: 2px;
  cursor: pointer;
  font-size: var(--font-20);
}
.filter-tab {
  background: #f8f8fa;
}
.logo .router-link-exact-active::after {
  border: none;
}
.logo img {
  position: relative;
  bottom: -3px;
}
.login-container {
  width: 350px;
  margin: 5rem auto;
  padding: 0 0.5rem;
  justify-content: center;
  text-align: center;
}
.login-container .logo {
  width: 300px;
  margin: 0 auto 2rem;
}
.login-container input {
  width: 100%;
  height: 50px;
  padding: 0.75rem 1rem;
  line-height: 50px;
  font-size: 1rem;
  box-sizing: border-box;
}
.btn-login {
  height: 54px;
}
.input-item {
  margin: 0 auto;
  padding-bottom: 0.75rem;
  justify-content: center;
  align-items: center;
}
.input-item:last-child {
  padding-bottom: 0;
}
.search-wrap {
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  margin-top: 1.5rem;
  position: relative;
  width: 100%;
  max-width: 450px;
}
.search-wrap input {
  display: flex;
  font-size: var(--font-14);
  padding-left: 2.2rem;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 0.2rem;
  border: none;
  background-color: #f4f4f4;
}

/* .login-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.login-form {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
} */
/* =========== CHART =========== */

.chart {
  padding: 2rem 0.5rem;
  margin: 0 auto;
  max-width: 500px;
  height: 33vh;
}

/* =========== SALES =========== */
.sales-list-container {
  padding: 0 0.5rem;
}
.top3-sales {
  display: grid;
  padding-top: 2rem;
  margin: 0 auto;
  gap: 1rem;
  width: 630px;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
}
.sales-item {
  position: relative;
  display: grid;
  align-items: self-end;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  box-shadow: 1px 1px 6px 0px #cccccc;
  padding: 1rem 1rem 0.3rem;
  text-align: center;
}
.sales-item.top1 {
  border: 2px solid #212121;
}
.sales-item .item-name {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0.5rem auto 0;
  font-size: var(--font-14);
  min-height: 22px;
}
.sales-item .item-name:first-of-type {
  margin-top: 0.6rem;
  font-size: var(--font-16);
  font-weight: 600;
}
.sales-item .item-name.highlighter {
  padding: 0 0.5rem;
}
.sales-item .pop-num {
  top: -15px;
  position: absolute;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #212121;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  color: #fff;
  justify-content: center;
  font-size: var(--font-14);
  font-weight: 600;
  text-align: center;
}

.sales-count {
  position: relative;
  width: 100%;
  margin-top: 0.75rem;
  padding-top: 0.3rem;
  border-top: 1px solid #eee;
  line-height: 30px;
  left: 0;
  bottom: 0;
  font-weight: 500;
  font-size: var(--font-14);
}
.table-container {
  padding: 2rem 0 6rem;
}
.table-container table {
  margin: 0 auto;
  font-size: var(--font-14);
  border-collapse: collapse;
}
.error {
  margin: 0.5rem 0;
  font-size: var(--font-14);
  color: #ed4141;
}
h2 {
  margin: 0.5rem auto 0;
  text-align: center;
}
.logout {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: var(--font-20);
  cursor: pointer;
  text-decoration: underline;
}
.recent-sales {
  padding-top: 1rem;
}
.recent-sales .table-container {
  padding-top: 0.5rem;
}
button {
  width: 100%;
  min-width: max-content;
  height: 50px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background: #222222;
  color: #fff;
  border: none;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.2rem;
}
button:disabled {
  cursor: default;
  pointer-events: all !important;
}
.welcome {
  height: 100px;
  margin: 0 auto;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 100px;
  font-size: var(--font-20);
}
.sales-info {
  padding-top: 2rem;
}
.btns_order {
  width: 400px;
  padding-top: 2rem;
  display: inline-flex;
  justify-content: space-between;
}
.btn-new-orders {
  margin-right: 1rem;
  box-shadow: 0 0 0 1px #222222;
}
.btn-outline {
  background-color: #fff;
  color: #222222;
  outline: none;
  box-shadow: 0 0 0 1px #222222;
}

.input-search {
  font-size: var(--font-14);
  border: none;
  background-position: 0.75rem 0.55rem;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
  padding-left: 2.2rem;
}
.btn-send-all,
.btn-search,
.btns_post button {
  width: 80px;
  height: 40px;
  font-size: var(--font-14);
  padding: 0.3rem 1rem;
  transition: all 0.25s;
  font-weight: normal;
}
.btn-send-all {
  margin-top: 1.5rem;
}
.btn-search {
  margin-left: 0.75rem;
  height: 42px;
}
.search-icon {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 0.5rem 0.7rem;
}
.btn_post-success,
.btn_post-fail {
  cursor: default;
  color: #fff;
}
.btn_post-success {
  background-color: #19a259;
}
.btn_post-fail {
  background-color: #e53d3d;
}
.btn_post-loading {
  background-color: #e2e2e2;
  color: #a1a1a1;
  cursor: default;
}
.highlighter {
  padding: 0 1rem;
  position: relative;
  display: inline-block;
}
.highlighter::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 17px;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
}
.highlighter__yellow::before {
  background: #ffdd61;
}

.highlighter__grey::before {
  background: #ededed;
}
.highlighter__red {
  color: #ed4141;
}
.highlighter__red::before {
  background: #ffecec;
}
.table-container.sales table {
  width: 100%;
  max-width: 630px;
}

@media screen and (max-width: 769px) {
  .container {
    padding-top: 1rem;
  }
  .table-container {
    padding: 1rem 0 6rem;
  }
  tr,
  th,
  td {
    min-width: 60px;
  }
}

@media screen and (max-width: 576px) {
  .top3-sales {
    width: 100%;
  }
  .top3-sales {
    gap: 0.7rem;
  }
  h2 {
    letter-spacing: -0.03rem;
  }
  .sales-info {
    padding-top: 1.5rem;
  }
  .table-container.sales table {
    font-size: var(--font-13);
    margin-top: 0.5rem;
  }
  .sales-item {
    padding: 0.75rem 0.25rem 0.3rem;
  }
  .sales-item .item-name {
    width: 110px;
    min-height: 19px;
    font-size: var(--font-12);
  }
  .sales-item .item-name:first-of-type {
    font-size: var(--font-14);
  }
  .sales-item .pop-num {
    top: -12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: var(--font-12);
  }
  .sales-count {
    line-height: 20px;
    font-size: var(--font-12);
  }
  #app {
    height: calc(100vh - 70px);
  }
  #main {
    min-height: calc(100vh - 2rem - 107px - 70px);
  }
  .welcome {
    height: 90px;
    line-height: 90px;
    font-size: var(--font-18);
  }
  .login-container {
    width: 320px;
    margin-top: 3rem;
  }
  .nav-list a {
    margin: 0 0.5rem;
  }
  footer {
    height: 70px;
    line-height: 70px;
    font-size: var(--font-10);
  }
  footer div {
    margin: auto 0;
  }

  .container {
    min-width: 350px;
  }
  h2,
  .order-list-container {
    padding: 0 1rem;
  }
  .table-container {
    padding: 1rem 0 6rem;
  }
  h2 {
    margin: 0.5rem auto 2rem;
  }

  h1,
  h2 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: var(--font-18);
  }
  .login-form {
    width: 100%;
  }
  label {
    font-size: var(--font-14);
  }
  input {
    width: 100%;
    font-size: var(--font-14);
  }

  button {
    padding: 0.5rem 1.125rem;
  }
  tr {
    border-bottom: none;
  }
  .table-container.sales tr,
  .reccent-salse .table-container tr {
    border-bottom: 1px solid #eee;
  }
  .table-container.sales th {
    padding: 0.25rem;
  }
  .table-container.sales tbody tr td:first-of-type {
    max-width: 290px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: -0.02rem;
  }
  .btns_order {
    width: 100%;
  }
  .btns_order button {
    font-size: var(--font-15);
    /* height: 45px; */
  }
  .btn-send-all {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    font-size: var(--font-16);
    z-index: 999;
  }
  .btns_post button {
    width: 70px;
    height: 32px;
    font-size: var(--font-12);
    line-height: 20px;
    font-weight: 500;
  }
  .highlighter {
    padding: 0 0.75rem;
    letter-spacing: -0.03rem;
  }
  .highlighter::before {
    height: 15px;
  }

  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    border-top: 2px solid #333;
  }
  #no-more-tables tr:last-child {
    border-bottom: 2px solid #333;
  }
  td {
    padding: 0.25rem;
  }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
    white-space: normal;
    text-align: right;
    line-height: 40px;
  }
  #no-more-tables td:last-child {
    border-bottom: hidden;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 0.25rem;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: nomal;
    color: #444;
  }

  /*
	Label the data
	*/
  #no-more-tables td:before {
    content: attr(data-title);
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding-top: 1.5rem;
  }
  .nav-list a {
    margin: 0 0.2rem;
  }
  .order-list-container {
    padding: 0 0.75rem;
  }
  h1,
  h2 {
    font-size: 1.125rem;
  }
  .table-container.sales table {
    margin-top: 0.75rem;
  }
  .sales-item .item-name {
    width: 100px;
  }
}
