@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --font-10: 0.625rem;
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-15: 0.938rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-22: 1.375rem;
  --font-24: 1.5rem;
}
html,
body {
  min-width: 375px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}
h1 {
  text-align: center;
}
.sales-title {
  position: relative;
  bottom: 4px;
  align-items: center;
  font-size: var(--font-22);
  justify-content: center;
}
.sales-title i {
  font-size: var(--font-24);
  margin: 1rem;
}
section {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
  overflow-y: hidden;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
header {
  height: 60px;
  display: flex;
  justify-content: center;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 165px;
}
#app {
  height: calc(100vh - 100px);
}
#main {
  height: auto;
  min-height: calc(100vh - 3rem - 100px);
}
.nav-list {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #ededed;
}
.nav-list li {
  display: flex;
  align-items: center;
  line-height: 46px;
  cursor: pointer;
}
.nav-list a {
  width: max-content;
  margin: 0 0.7rem;
  padding: 0 0.5rem;
  height: 46px;
  line-height: 46px;
  color: #212121;
  text-decoration: none;
  justify-content: center;
  font-size: var(--font-15);
}
.router-link-exact-active {
  font-weight: bold;
  position: relative;
}
.router-link-exact-active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 999;
  content: '';
  width: 100%;
  border-bottom: 2px solid #212121;
}
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  position: relative;
  font-size: var(--font-12);
  text-align: center;
  color: #878787;
}
tr {
  border-bottom: 1px solid #ddd;
}
th,
tr,
td {
  min-width: 80px;
}
th,
td {
  height: 40px;
  padding: 1rem 0.5rem;
  word-break: break-all;
}
.order-date,
.item-name {
  word-break: keep-all;
}
/* .logo {
  height: 70px;
  margin: 0 auto;
  justify-content: center;
} */

.login-container {
  margin: 0 auto;
}

.order-list-container {
  /* margin: 3rem auto 0; */
}
.table-container {
  padding: 2rem;
}
.table-container table {
  /* width: 100%; */
  margin: 0 auto;
  font-size: var(--font-14);
  border-collapse: collapse;
}
.error {
  margin: 0.5rem 0;
  font-size: var(--font-14);
  color: #ed4141;
}
h2 {
  margin: 0.5rem auto 2rem;
  text-align: center;
}
.logout {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: var(--font-20);
  cursor: pointer;
  text-decoration: underline;
}
.input-item {
  margin: 0 auto;
  padding-bottom: 0.75rem;
  justify-content: center;
  align-items: center;
}
.input-item:last-child {
  padding-bottom: 0;
}
.input-wrap {
  display: inline-flex;
  align-items: center;
}
label {
  width: 70px;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
  line-height: 40px;
}
input {
  display: flex;
  width: 300px;
  line-height: 40px;
  padding-left: 0.5rem;
  font-size: 1rem;
}
input:focus {
  outline: none;
}
button {
  width: 100%;
  min-width: max-content;
  height: 50px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background: #222222;
  color: #fff;
  border: none;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.2rem;
}
button:disabled {
  cursor: default;
  pointer-events: all !important;
}
.welcome {
  height: 120px;
  margin: 0 auto;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 120px;
  font-size: var(--font-20);
}

.input-item .error {
  padding-left: 70px;
}
.btns_order {
  width: 400px;
  padding-top: 2rem;
  display: inline-flex;
  justify-content: space-between;
}
.btn-new-orders {
  margin-right: 1rem;
  box-shadow: 0 0 0 1px #222222;
}
.btn-outline {
  background-color: #fff;
  color: #222222;
  outline: none;
  box-shadow: 0 0 0 1px #222222;
}
.btns_post button {
  width: 80px;
  height: 40px;
  font-size: var(--font-14);
  padding: 0.3rem 1rem;
  transition: all 0.25s;
  font-weight: normal;
}
.btn_post-default,
.btn_post-complete,
.btn_post-fail {
  cursor: default;
  color: #fff;
}
.btn_post-complete {
  background-color: #19a259;
}
.btn_post-fail {
  background-color: #e53d3d;
}
.btn_post-loading {
  background-color: #e2e2e2;
  color: #a1a1a1;
  cursor: default;
}
.highlighter {
  padding: 0 1rem;
  position: relative;
  display: inline-block;
}
.highlighter::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 17px;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
}
.highlighter__yellow::before {
  background: #ffdd61;
}

.highlighter__grey::before {
  background: #ededed;
}
.highlighter__red {
  color: #ed4141;
}
.highlighter__red::before {
  background: #ffecec;
}

@media screen and (max-width: 769px) {
  tr,
  th,
  td {
    min-width: 60px;
  }
}

@media screen and (max-width: 576px) {
  #app {
    height: calc(100vh - 70px);
  }
  #main {
    min-height: calc(100vh - 3rem - 70px);
  }

  footer {
    height: 70px;
    line-height: 70px;
    font-size: var(--font-10);
  }
  footer div {
    margin: auto 0;
  }

  section {
    min-width: 350px;
  }
  h2,
  .login-container,
  .order-list-container {
    padding: 0 1.25rem;
  }
  .table-container {
    padding: 1rem 0;
  }
  h2 {
    margin: 0.5rem auto 2rem;
  }

  h1,
  h2 {
    font-size: 1.25rem;
  }
  .welcome {
    border-radius: 0.3rem;
    font-size: var(--font-18);
  }

  .login-form {
    width: 100%;
  }
  .input-wrap {
    width: 100%;
  }
  label {
    font-size: var(--font-14);
  }
  input {
    width: 100%;
    font-size: var(--font-14);
  }

  button {
    padding: 0.5rem 1.125rem;
  }
  tr {
    border-bottom: none;
  }
  .btns_order {
    width: 100%;
  }
  .btns_order button {
    font-size: var(--font-15);
    /* height: 45px; */
  }
  .item-name,
  .item-option {
    display: none;
  }
  .order-list-container {
    /* margin-top: 2rem; */
  }
  .btns_post button {
    width: 70px;
    height: 32px;
    font-size: var(--font-12);
    line-height: 20px;
    font-weight: 500;
  }

  .highlighter {
    padding: 0 0.75rem;
  }
  .highlighter::before {
    height: 15px;
  }

  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    border-top: 2px solid #333;
  }
  #no-more-tables tr:last-child {
    border-bottom: 2px solid #333;
  }
  td {
    padding: 0.25rem;
  }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
    white-space: normal;
    text-align: right;
    line-height: 40px;
  }
  #no-more-tables td:last-child {
    border-bottom: hidden;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 0.25rem;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: nomal;
    color: #444;
  }

  /*
	Label the data
	*/
  #no-more-tables td:before {
    content: attr(data-title);
  }
}
