@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
:root {
  --font-12: 0.75rem;
  --font-14: 0.875rem;
}
html,
body {
  min-width: 375px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  /* font: inherit; */
  vertical-align: baseline;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
table {
  margin: 0 auto;
  font-size: var(--font-14);
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #ddd;
}
th,
td {
  height: 40px;
  padding: 1rem 0.5rem;
  min-width: 100px;
}
.logo {
  width: 460px;
  margin: 2rem auto 0;
  justify-content: center;
}
.logo img {
  width: 150px;
}
.order-list-container {
  margin-top: 3rem;
}
.error {
  margin: 0.5rem 0;
  font-size: var(--font-14);
  color: #ed4141;
}
h2 {
  width: 460px;
  margin: 1rem auto 2rem;
  text-align: center;
}
section {
  margin: 0 auto;
  padding: 1rem 2rem 3rem;
  text-align: center;
}
.key {
  color: #fff;
}
.input-item {
  display: flex;
  margin: 0 auto;
  padding: 0.5rem;
  align-items: baseline;
  justify-content: center;
}
label {
  width: 70px;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
}
input {
  display: flex;
  width: 300px;
  line-height: 40px;
  padding-left: 0.5rem;
  font-size: 1rem;
}
input:focus {
  outline: none;
}
button {
  width: 190px;
  min-width: max-content;
  height: 50px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background: #222222;
  color: #fff;
  border: none;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.2rem;
}
.login-container {
  width: 460px;
  margin: 0 auto;
}
.btns_order {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.btn-new-orders {
  margin-right: 1rem;
}
.btn-outline {
  background-color: #fff;
  color: #222222;
  outline: 1px solid #222222;
}

.btns_post button {
  width: 70px;
  height: 40px;
  font-size: var(--font-14);
  padding: 0.3rem 1rem;
  transition: all 0.25s;
  font-weight: normal;
}

.btn_post-complete {
  background-color: #19a259;
  cursor: default;
}
.btn_post-fail {
  background-color: #e53d3d;
  cursor: default;
}

@media screen and (max-width: 576px) {
  section {
    padding: 1rem 1rem 3rem;
  }
  h2,
  .logo,
  .login-container {
    width: 300px;
  }
  input {
    width: 200px;
  }
  button {
    width: 100px;
    padding: 0.5rem 1.125rem;
  }
  table {
    margin: 0 auto;
  }
  th,
  td {
    height: 30px;
    padding: 0.75rem 0.5rem;
    min-width: 80px;
  }
  .input-item {
    padding: 0.5rem 0;
  }
}
